body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: white;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #222;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.btn {
  background: #ff2a2a;
  padding: 12px 25px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
